/* For mobile screen, screen size below 480 px */

@media only screen and (max-width : 480px)
{
    *
    {
        font-size: 14px;
    }

    body
    {
        overflow-x: hidden;
    }


    /* Navigation Bar */
    .nav-bar .right-nav
    {
        position: absolute;
        right: 0;
        height: 50vh;
        top: 0;
        background-color: skyblue;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-bar .right-nav .nav-links
    {
        align-self: center;
        opacity: 0;
    }

    .nav-bar .burger
    {
        display: block;
    }

    /* Other Nav Content */
    .nav-content
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        margin-top: 30px;
        text-align: center;
    }


    .nav-content h1
    {
        color: rgb(240, 240, 245);
        font-size: 2rem;
        font-weight: 400;
        padding: 10px;
    }

    .nav-content .icon
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .nav-content .icon div
    {
        border: none;
        padding: 10px;
    }
    
    .nav-content .icon i
    {
        color: rgb(99,180,132);
        padding: 10px;
    }

    .nav-content .icon h4, p
    {
        margin: 0;
        padding: 5px;
        color: rgb(240, 240, 245);
    }


    .nav-content .btn
    {
        margin-top: 20px;
        padding: 10px;
    }

    .nav-content .btn button
    {
        padding: 10px 15px;
        font-size: 0.8rem;
        border-radius: 16px;
    }



    /* Main Content */

    .main-content
    {
        width: 90%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }   


    .main-content .right-card, .left-card
    {
        padding: 20px;
    }

    .main-content .btn
    {
        padding: 10px;
    }
    .main-content .btn button
    {
        padding: 10px 15px;
        font-size: 0.8rem;
        border-radius: 16px; 
    }
}