/* ------------- For Mobile Phone with max screen size of 320px ----------------------*/

@media only screen and (max-width : 320px)
{
    *
    {
        font-size: 12px;
    }
    .bg-img
    {
        height: 80vh;
    }

        
    .content-wrapper
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .content-main-1
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    .content-main-1 .items
    {
        margin-top: 70%;
        width: 90%;
        align-self: center;
        text-align: center;
        padding: 5px;
        color: rgb(241, 241, 247);
    }


    .content-main-1 .items h1
    {
        font-size: 2rem;
        padding: 5px;
    }

    .content-main-1 .items p
    {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 5px;
        line-height: 20px;
        text-align: center;
    }

    .main-2 .content-main-2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }

    .main-2 .content-main-2 .left
    {
        text-align: center;
        padding: 10px;
    }

    .main-2 .content-main-2 .left img
    {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .main-2 .content-main-2 .right
    {
        color: rgb(64, 64, 64);
        padding: 10px;
        text-align: center;
    }

    .main-2 .content-main-2 .right h3, p
    {
        padding: 10px;
        text-align: center;
    }


    .main-2 .content-main-2 .right h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-2 .content-main-2 .right p
    {
        font-size: 1.1rem;
    }

    .main-3 .content-main-3
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 10px;
    }


    .main-3 .content-main-3 .left
    {
        color: rgb(248,248,248);
        padding: 10px;
        text-align: center;
    }

    .main-3 .content-main-3 .left h3, p
    {
        padding: 10px;
        text-align: center;
    }

    .main-3 .content-main-3 .left h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-3 .content-main-3 .left p
    {
        font-size: 1.1rem;
    }

    .main-3 .content-main-3 .right
    {
        text-align: center;
        padding: 10px;
    }

    .main-3 .content-main-3 .right img
    {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }


    .main-4 .content-main-4
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0 20px 0;
        color: rgb(64, 64, 64);
    }

    .main-4 .content-main-4 .vertical-items
    {
        align-self: center;
        text-align: center;
        padding: 15px 0;
    }

    .main-4 .content-main-4 .vertical-items h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-4 .content-main-4 .vertical-items p
    {
        font-size: 1.1rem;
    }
    
    .main-4 .content-main-4 #middle .middle-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    .main-4 .content-main-4 #middle .horizontal-items
    {
        align-self: center;
        text-align: center;
        padding: 10px;
    }

    .main-4 .content-main-4 #middle .horizontal-items img
    {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .main-4 .content-main-4 #middle .horizontal-items p
    {
        text-align: center;
    }

    .main-4 .content-main-4 #bottom .bottom-content a
    {
        padding: 10px;
        text-decoration: none;
        color: rgb(64, 64, 64);
    }

}