/* ------------- For Large Screens with screen size grater than 1300px ----------------------*/
/* Generally 1281px, as per my screen resolution 1300px */

@media only screen and (min-width : 1300px)
{
    *
    {
        font-size: 20px;
    }
    .bg-img
    {
        height: 90vh;
    }

        
    .content-wrapper
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .content-main-1
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


    .content-main-1 .items
    {
        margin-top: 10%;
        width: 60%;
        align-self: center;
        text-align: center;
        padding: 10px;
        color: rgb(241, 241, 247);
    }


    .content-main-1 .items h1
    {
        font-size: 2rem;
        padding: 10px;

    }

    .content-main-1 .items p
    {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 10px;
        line-height: 30px;
        text-align: center;
    }

    .main-2 .content-main-2
    {
        display: flex;
        padding: 40px 20px;
        justify-content: space-around;
    }

    .main-2 .content-main-2 .left
    {
        flex: 1;
        text-align: left;
        padding: 10px;
    }

    .main-2 .content-main-2 .left img
    {
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }

    .main-2 .content-main-2 .right
    {
        flex: 3;
        color: rgb(64, 64, 64);
        padding: 10px;
    }

    .main-2 .content-main-2 .right h3, p
    {
        padding: 10px;
        text-align: justify;
    }


    .main-2 .content-main-2 .right h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-2 .content-main-2 .right p
    {
        font-size: 1.1rem;
    }

    .main-3 .content-main-3
    {
        display: flex;
        padding: 40px 20px;
        justify-content: space-around;
    }


    .main-3 .content-main-3 .left
    {
        flex: 3;
        color: rgb(248,248,248);
        padding: 10px;
    }

    .main-3 .content-main-3 .left h3, p
    {
        padding: 10px;
        text-align: justify;
    }

    .main-3 .content-main-3 .left h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-3 .content-main-3 .left p
    {
        font-size: 1.1rem;
    }

    .main-3 .content-main-3 .right
    {
        flex: 1;
        text-align: right;
        padding: 10px;
    }

    .main-3 .content-main-3 .right img
    {
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }


    .main-4 .content-main-4
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 40px 20px;
        color: rgb(64, 64, 64);
    }

    .main-4 .content-main-4 .vertical-items
    {
        align-self: center;
        text-align: center;
        padding: 20px 0;
    }

    .main-4 .content-main-4 .vertical-items h3
    {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    .main-4 .content-main-4 .vertical-items p
    {
        font-size: 1.1rem;
    }
    
    .main-4 .content-main-4 #middle .middle-content
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .main-4 .content-main-4 #middle .horizontal-items
    {
        align-self: center;
        text-align: center;
        padding: 10px;
    }

    .main-4 .content-main-4 #middle .horizontal-items img
    {
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }

    .main-4 .content-main-4 #middle .horizontal-items p
    {
        text-align: center;
    }

    .main-4 .content-main-4 #bottom .bottom-content a
    {
        padding: 10px;
        text-decoration: none;
        color: rgb(64, 64, 64);
    }

}