/* ------------------------ For Entire Page --------------------------- */

body
{
	background-color: rgb(13, 13, 13);
}

.outer
{
    width: 100%;
    /* margin: auto;
    padding: 5px; */
    background-color: rgba(38, 38, 38,0.9);
}

/* ---------------------- Top Navigation Bar --------------------------- */

.top-bar
{
    overflow: hidden;
    padding: 5px;
}

.top-bar a
{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.top-bar img
{
    margin-top: 6px;
}

.top-bar #btn-01
{
    margin-left: 57.5em;
    padding: 3px;
    font-size: 20px;
    font-weight: 200;
}

.top-bar #btn-01:hover
{
    color: rgb(230, 0, 115);
}

/* -------------------- Top Navigation Bar End ------------------------- */

.inner
{
    display: flex;
}

/* ----------------------- Side Navigation Bar ------------------------- */

.inner .side-bar
{
    width: 15%;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.inner .side-bar a
{
    display: block;
    margin-left: 35px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    background: white;
    color: black;
}

/* -------------------- Side Navigation Bar End -------------------------- */



/* --------------------------- Main content ------------------------------ */

.inner .content
{
    width: 85%;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    display: block;
}


/* -------------------- Image 300*300 and content ------------------------- */

.inner .flex-container1, .flex-container2
{
    display: flex;
    margin-top: 10px;
    padding: 10px;
}

.inner .flex-container1 > div
{
	background-color: rgb(38, 38, 38);
	color: #ffffff;
	height: 150px;
    width: 150px;
	margin: 15px 55px 10px 55px;
	text-align: center;
	font-weight: 300;
	border: 1px solid grey;
	box-shadow: 2px 2px #cccccc;
}

.inner .flex-container2 > div
{
	color: #ffffff;
	text-align: center;
}
.inner .flex-container2 p
{
    font-size: 20px;
    padding: 20px;
    font-weight: 300;
}

/* -------------------- Image 300*300 and content End ------------------------- */



/* ----------------------------- Form Main Content ---------------------------- */
.inner .form-container
{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
}

.inner .form-container .data
{
    padding: 8px;
    width: 300px;
    margin-right: 150px;
}

.inner .form-container #btn2
{
    padding: 8px;
    width: 100px;
}
/* --------------------------- Form Main content End--------------------------- */

/* -------------------------- Table Main content -- --------------------------- */

.inner .table-container
{
    border-collapse: collapse;
    padding: 10px;
	overflow: hidden;
    border-radius: 1%;
	box-shadow: 0 0 20px rgb(115, 115, 115);
    margin-bottom: 10px;
}

.inner .table-container table
{
    padding: 15px;
}

.table-container thead tr
{
	background-color: rgb(166, 166, 166);
	color: black;
	text-align: left;
	font-weight: bold;
}

.table-container th,
.table-container td
{
	padding: 15px 20px;
    width: 300px;
    margin: 10px;
}

.table-container tbody tr
{
	border-bottom: 1px solid #e6ccff;
}

.table-container tbody tr:nth-of-type(even)
{
	background-color: rgb(166, 166, 166);
}

.table-container tbody tr:last-of-type
{
	border-bottom: 2px solid rgb(166, 166, 166);
}

.table-container tbody tr:hover
{
	font-weight: bold;
	color: white;
}
/* ------------------------- Table Main content End --------------------------- */



/* ------------------------------ Main content End----------------------------- */